<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="../Styles/styles.css">
    <title>Alma Ryan - Biographie</title>
</head>
<body ng-app="calenderApp">
    <!-- HEADER -->
    <header>
    
        <!-- LOGO -->
        <div class="logo">
            <a href="../index.html">
                <h1>Alma Ryan <span class="description_logo"> <span class="tire">-</span> Danseuse & Professeur de danse</span></h1>
            </a>
        </div>
    
        <!-- MENU -->
        <nav>
            <ul class="nav-menu">
                <li class="nav-link"><a href="../index.html">Accueil</a>
                <li class="nav-link"><a href="./biographie.html">Biographie</a>
                <li class="nav-link"><a href="./pedagogie.html">Pédagogie</a>
                <li class="nav-link nav-link1"><a id="golink" href="./scene.html">Scène <i
                            class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-deroulant">
                        <li class="nav-link"><a href="./autresCollaborations.html">Autres collaborations</a></li>
                    </ul>
                </li>
                <li class="nav-link"><a href="#">Galerie <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="nav-deroulant">
                        <li class="nav-link"><a href="./photos.html">Photos</a></li>
                        <li class="nav-link"><a href="./videos.html">Vidéos</a></li>
                    </ul>
                </li>
                <li class="nav-link"><a href="./agenda.html" class="current">Agenda</a>
                <li class="nav-link"><a href="./contact.html">Contact</a>
            </ul>
    
            <!-- Hamburger Menu for Tablette and Phone -->
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <!-- MAIN -->
    <main>
      
        <div class="wrapper" ng-controller="calender">
            <div class="row">
               <form>
                  <select class="cl-3" ng-model="filters.city" >
                     <option selected="selected" value=""> Ville </option>
                     <option ng-repeat="city in cities" value="{{city}}">{{city}}  </option>
                  </select>
                  <select class="cl-3" ng-model="filters.categories">
                     <option selected="selected" value=""> Categorie </option>
                     <option ng-repeat="category in categories" value="{{category}}">{{category}}  </option>
                  </select>
                  <select class="cl-3" ng-model="filters.date">
                     <option selected="selected" value=""> Date </option>
                     <option ng-repeat="date in dates" value="{{date}}">{{date | date:'yyyy'}} </option>
                  </select>
               </form>
            </div>
            <div class="row">
               <ul class="events">
                  <li ng-repeat="event in events | filter:filters">
                     <span class="day">{{event.date | date:'dd'}}</span>
                     <span class="date">{{event.date | date:'MMMM yy'}}</span>
                     <span class="location">{{event.location}}</span>
                     <span class="time">{{event.time}}</span>
                     <span class="dxb">almaryan.eu</span>
                     <div class="actions">
                        <button  ng-click="selected = !selected; selectEvent(event,selected); " ng-class="{'active':selected }" class="addEvent event_action"><i class="sprite sprite-calender"></i> </button>
                        <a href="https://fb.me/e/1XdTvHe14" target="_blank"> <button  class="viewEvent event_action"><i class="sprite sprite-view"></i> </button> </a>
                     </div>
                  </li>
               </ul>
            </div>
            <!-- TO ADD LATER 
            <div class="row">
               <h1> Register for event notifications</h1>
               <p class="error" ng-show="regisration.events.length < 1 && submitted">Kindly select events to subscrib</p>
               <form name="notificationForm" ng-submit="notificationForm.$valid && regisration.events.length > 0 && register()">
                  <select class="cl-3" ng-model="regisration.city" required >
                     <option selected="selected" value=""> City </option>
                     <option ng-repeat="city in cities" value="{{city}}">{{city}}  </option>
                  </select>
                  <select class="cl-3" ng-model="regisration.category" required>
                     <option selected="selected" value=""> Category </option>
                     <option ng-repeat="category in categories" value="{{category}}">{{category}}  </option>
                  </select>
                  <div  class="cl-3">
                     <input type="email" placeholder="Email Address" ng-model="regisration.email" required/>
                     <button type="submit" ng-click="submitted = true" class="submit"><i class="sprite sprite-check"></i>
                  </div>
               </form>
            </div> -->

         </div>


    </main>
    
    
    <!-- FOOTER -->
    <footer>
        <div class="footer_titles">
            <a href="./credits.html">Crédits Photos</a>
            <a href="./contact.html">Contact</a>
            <a href="https://www.facebook.com/alma.ryan.10" target=”_blank” class="fIcon"><i class="fa-brands fa-square-facebook"></i></a>
            <p>Alma Ryan ©</p>
        </div>
    </footer>
    
    <!-- LES SCRIPTS JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="../agenda.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="../slider.js"></script>
    <script src="../phoneMenu.js"></script>
</body>
</html>