.myCalendar{
    display: flex;
    justify-content: center;
    height: 80vh;
}




@media (max-width: 550px) {
    .big-container {
        display: none;
    }
 }
 @media (min-width: 550px) {
    .small-container {
        display: none;
    }
 }
