.swiper {
        width: 100%;
        height: 35vh;
      }

.swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

.swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

.swiper-pagination{
          display: none;
      }

.bio_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .biographie_content {
            width: 90%;
            padding: 10px 80px;
            .biographie_picture {
                width: 400px;
                float: left;
                margin-right: 20px;
                margin-top: 10px;
            }
    
            .biographie_texte {
                height: auto;
                font-family: 'Open Sans';
                color: #8e8e8e;
                font-size: 14px;
                font-weight: 300;
    
                p {
                    margin-top: 10px;
    
                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
}

/* MEDIA QUERIES */
/* Tablette */
@media(max-width:768px) {
    .bio_main{
        .biographie_content {
                width: 100%;
                padding: 40px;
            }
    }
    .swiper-pedago{
        display: none;
    }
}

/* PHONE */

@media(max-width:530px) {
    .bio_main {
            .biographie_content {
                padding: 20px;
                .biographie_picture {
                        width: 250px;
                    }
                .biographie_texte{
                    font-size: 12px;
                }
            }
            
        }
}

/* MODIF POUR QUE L'IMAGE SOIT ON TOP avec un espace en bas avec le texte*/
@media(max-width:394px) {
    .bio_main {
        .biographie_content{
            display: flex;
            flex-direction: column;
            align-items: center;
                .biographie_picture {
                        float: none;
                    }
            }}
            
        }

