/* PAGE COLLABORATIONS */

.collab-section{
    padding: 20px 80px;
    display: flex;
    height: 80vh;
    /* Vidéo Youtube */
    .videoYtb{
        width: 40%;
        iframe{
            width: 100%;
            height: 50%;
        }
    }
    /* Description Vidéo youtube*/
    .descriptionvideoYtb{
        margin-left: 20px;
        margin-top: 20px;
        color: rgb(143, 143, 143);
        font-size: 14px;
        line-height: 1.6em;
        width: 60%;
        height: 100%
    };
}

/* FOOTER Colab*/

.footer_collab{
    position: absolute;
    bottom: 0;
}

/* MEDIA QUERIES */
/* Tablette */
@media(max-width:997px) {
    .collab-section {
            padding: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            /* Vidéo Youtube */
            .videoYtb {
                width: 400px;
                margin-top: 15px;
    
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }
    
            /* Description Vidéo youtube*/
            .descriptionvideoYtb {
                margin-left: 0px;
                margin-top: 30px;
                width: 100%;
            }
    
            ;
        }
}

/* PHONE */

@media(max-width:530px) {
    .collab-section {
        height: auto;
        .videoYtb {
                width: 100%;
        
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }}
}