#button_Right{
    margin-left:45%;
}

.bgIMGparent{
    position: relative;
}

.bgIMGchild{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(0.4) blur(10px);
    filter: brightness(0.4) blur(10px);
    height: 100%;
    z-index: -1;
}

.imgV1{
    background-image: url(../img/main1.jpg);
}

.imgV2{
    background-image: url(../img/img3-min.jpeg);
}

.imgV3{
    background-image: url(../img/img2-min.jpeg);
}

.imgV4{
    background-image: url(../img/hf-affiche.jpg);
}

.buttonHF{
    top : 30%;
    background-color : rgba(255, 255, 255, 0.6) !important; 
    color: black !important;
        &:hover{
            background-color : rgba(36, 36, 36, 0.6) !important; 
            color: white !important;
        }
}


.main_slider_container{
    background-color: #464646;
  
    .slideshow {
            display: flex;
            justify-content: flex-start;
            width: 100%;
    
            .swiper {
                width:auto;
                height: 80vh;
                background-color: #464646;
    
                img {
                    height: 100%;
                    width: auto;
                    
                }

                
                
                
                .slide_horizontale{
                    width: 100%;
                    object-fit: cover;
                }

                .slide_vertical{
                    height: 100%;
                                   

                }

                .swiper-wrapper{
                    background-color: gray;
                }
                .swiper-slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 50%;
                    background-color: #464646;
                    a{
                        position: absolute;
                        transform: translateX(0%);
                        transform: translateY(0%);
                        text-align: center;
                        padding: 13px 20px;
                        background-color: transparent;
                        border: solid 2px white;
                        border-radius: 5px;
                        color: white;
                        font-weight: bold;
                        transition: 0.2s ease-in;
                        &:hover{
                            cursor: pointer;
                            background-color: whitesmoke;
                            color: black;
                        }
                    }
                    .redBtn{
                        color: white;
                        border: solid 2px white;
                        transition: 0.2s ease-in;
                            &:hover {
                                cursor: pointer;
                                background-color: #ce031a;
                                color: white;
                            }
                    }
                }
    
                .swiper-pagination-bullet-active {
                    background-color: white;
                }
    
                .swiper-button-prev,
                .swiper-button-next {
                    color: #13aff0;
                }
            }
        }
}


.main_header{
    background-color: #252525;
}

/* MEDIA QUERIES */
/* Tablette */
@media(max-width:768px) {
    .main_slider_container {
            .slideshow {
                .swiper {
                    width: auto;
                    height: 80vh;
    
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
    
                    .slide_horizontale {
                        object-fit: cover;
                    }

                    .slide_horizontale2{
                        object-position: 10% bottom;
                    }
                }
            }
        }
}

/* PHONE */

@media(max-width:530px) {}


.swiper-slide-active>.slide_horizontale {
        animation: move 40s ease;
        -ms-animation: move 40s ease;
          -webkit-animation: move 40s ease;
        -O-animation: move 40s ease;
        -moz-animation: move 40s ease;


} 

/*KEN BURNS EFFECT*/
@-webkit-keyframes move {
    0% {
      -webkit-transform-origin: bottom left;
      -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      -o-transform-origin: bottom left;
      transform-origin: bottom left;
      transform: scale(1.0);
      -ms-transform: scale(1.0);
      /* IE 9 */
      
      -webkit-transform: scale(1.0);
      /* Safari and Chrome */
      
      -o-transform: scale(1.0);
      /* Opera */
      
      -moz-transform: scale(1.0);
      /* Firefox */
    }
    100% {
      transform: scale(1.2);
      -ms-transform: scale(1.2);
      /* IE 9 */
      
      -webkit-transform: scale(1.2);
      /* Safari and Chrome */
      
      -o-transform: scale(1.2);
      /* Opera */
      
      -moz-transform: scale(1.2);
      /* Firefox */
    }
  }