.main_slider_container{
    background-color: #464646;
  
    .slideshow {
            display: flex;
            justify-content: flex-start;
            width: 100%;
    
            .swiper {
                width:auto;
                height: 80vh;
                background-color: #464646;
    
                img {
                    height: 100%;
                    width: auto;
                }

                .slide_horizontale{
                    width: 100%;
                    object-fit: cover;
                }

                .swiper-wrapper{
                    background-color: gray;
                }
                .swiper-slide {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 50%;
                    background-color: #464646;
                    a{
                        position: absolute;
                        transform: translateX(0%);
                        transform: translateY(0%);
                        text-align: center;
                        padding: 13px 20px;
                        background-color: transparent;
                        border: solid 2px white;
                        border-radius: 5px;
                        color: white;
                        font-weight: bold;
                        transition: 0.2s ease-in;
                        &:hover{
                            cursor: pointer;
                            background-color: whitesmoke;
                            color: black;
                        }
                    }
                    .redBtn{
                        color: #ce031a;
                        border: solid 2px #ce031a;
                        transition: 0.2s ease-in;
                            &:hover {
                                cursor: pointer;
                                background-color: #ce031a;
                                color: white;
                            }
                    }
                }
    
                .swiper-pagination-bullet-active {
                    background-color: white;
                }
    
                .swiper-button-prev,
                .swiper-button-next {
                    color: #13aff0;
                }
            }
        }
}


.main_header{
    background-color: #252525;
}

/* MEDIA QUERIES */
/* Tablette */
@media(max-width:768px) {
    .main_slider_container {
            .slideshow {
                .swiper {
                    width: auto;
                    height: 80vh;
    
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
    
                    .slide_horizontale {
                        object-fit: cover;
                    }

                    .slide_horizontale2{
                        object-position: 10% bottom;
                    }
                }
            }
        }
}

/* PHONE */

@media(max-width:530px) {}