/* PAGE PEDAGOGIE */

.pedagogie_section{
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    /* 2 - Pédagogie texte 1*/
    .diplomes{
        p{
            margin-bottom: 15px;
            color: rgb(143, 143, 143);
            a{
                transition: .15s ease-in;
                &:hover{
                    color: #13aff0;
                    cursor: pointer;
                }
            }
        }
    }

/* 3 - Pédagogie texte 2 - Objectifs */

.objectifs_pedagogiques{
    color: rgb(143, 143, 143);
    margin-top: 40px;
    ul{
        li{
            list-style: circle;
            margin-bottom: 10px;
            font-size: 14px;
            span{
                color: #44649f;
            }
        }
    }
}

/* MEDIA QUERIES */

/* MAIN */

@media(min-width:1156px){
    .main80vh {
            height: 80vh;
        }
}
/* Tablette */
@media(max-width:768px) {
    .pedagogie_sliderAndText{
        flex-direction: column;
        .slideshow, .diplomes{
            width: 100%;
        }
        .slideshow{
            .swiper{
                height: auto;
            }
        }
        .diplomes{
            p{
                text-align: left;
            }
        }
    }
}


/* PHONE */

@media(max-width:530px) {
    .pedagogie_sliderAndText {
        padding: 0px;
            .slideshow,
            .diplomes {
                padding: 0px;
            }

            .diplomes{
                padding: 20px;
            }
        }
    .objectifs_pedagogiques{
        padding: 20px 30px;
    }
}