/* PAGE PEDAGOGIE */

.pedagogie_section{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 80vh;
    margin: 20px auto;
    color: white;
}
    /* 2 - Pédagogie texte 1*/
    .diplomes{
        p{
            margin-bottom: 15px;
            a{
                transition: .15s ease-in;
                &:hover{
                    color: white;
                    cursor: pointer;
                }
            }
        }
    }

/* 3 - Pédagogie texte 2 - Objectifs */

.objectifs_pedagogiques{
    margin-top: 40px;
    ul{
        li{
            list-style: circle;
            margin-bottom: 10px;
            font-size: 14px;
            span{
                color: #da828d;
                font-weight: bold;
            }
        }
    }
}

/* MEDIA QUERIES */

/* MAIN */
@media(min-width:733px) and (max-width:768px){
    .pedagogie_section{
        padding-bottom: 30px;
    }
}

@media(max-width:768px){
    .pedagogie_section {
            height: auto;
        }
}

/* Tablette */


/* PHONE */

@media(max-width:642px) {
    .sticky_pedag{
        position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(37, 37, 37, 0.884);
            z-index: 9999;
    }
}

/* STICKY */

