/* HEADER */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 80px;
    width: 100%;
    position: relative;
    z-index: 9999;
    background-color: #24252A;
    /* LOGO */
    .logo {
        width: 40%;
        h1 {
            font-size: 20px;
            color: #057ae1;
    
            span {
                font-size: 15px;
                color: #b4bbc1;
                font-weight: 600;
            }
        }
    }

    /* MENU */
    nav {
        a {
            padding: 10px 15px;
            margin-left: 5px;
            color: white;
            display: block;
            text-decoration: none;
            font-size: 14px;
            transition: 0.15s ease-in;
            border-radius: 20px;
            width: 100%;
            &:hover {
                background-color: #13aff0;
                cursor: pointer;
            }
            .fa-angle-down{
                margin-left: 6px;
            }
        }
        .current {
            background-color: #13aff0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            width: auto;
            li {
                float: left;
                position: relative;
                width: max-content;
                ul {
                    display: none;
                    position: absolute;
                    overflow: auto;
                    background-color: #24252A;
                    border-radius: 20px;
                    li{
                        width: 100%;
                        &:hover {
                            transition: 0.15s ease-in;
                            background-color: #13aff0;
                            cursor: pointer;
                            }
                        a {
                            margin-left: 0px;
                            }
                    }
                }
    
                &:hover ul {
                    display: block;
                }
            }
        }
    }
}

.sticky{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff80;
    z-index: 9999;
}
/* FOOTER */

footer{
    width: 100%;
    margin-top: 50px;
    padding: 20px 30px 80px 30px;
    position:relative;
    display: flex;
    justify-content: center;
    background-color: #24252A;
    p{
        color: #b4bbc1;
        margin-right: 50px;
    }
    .footer_titles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20px;
        width: 100%;
        a{
            color: #b4bbc1;
            font-size: 16px;
            margin-right: 50px;
            &:hover{
                text-decoration: underline;
                color: white;
            }
        }
        i{
            color: #b4bbc1;
            font-size: 30px;
            &:hover{
                color: white;
            }
        }
    }

    .footer_form {
            width: 60%;
            position: relative;
            margin-bottom: 60px;
            label {
                color: white;
            }
    
            input,
            textarea {
                background-color: transparent;
                color: white;
                padding: 5px 20px;
                border-radius: 5px;
                width: 100%;
                height: 40px;
                margin-top: 5px;
                border: 2px solid #818a90;
                font-size: 16px;
                transition: 0.2s ease-in;
    
                &:focus {
                    outline: none !important;
                    border: 2px solid red;
                }
            }
    
            .name {
                width: 34%;
                display: inline-block;
            }
    
            .email {
                width: 62%;
                display: inline-block;
                margin-left: 15px;
            }
    
            .text {
                margin-top: 20px;
    
                textarea {
                    height: 120px;
    
                    &:focus {
                        border: 2px solid #818a90;
                    }
                }
            }
    
            .form-btn {
                width: 100px;
                background-color: #057ae1;
                margin-top: 20px;
                position: absolute;
                bottom: -60px;
                right: 0;
    
                &:hover {
                    cursor: pointer;
                    font-weight: bold;
                    background-color: #38a2ff;
                }
            }
    }
}

