/* LOGO ANIM*/
/* ANIMATIONS */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* STYLING */
#logo_moving2{
    z-index: 333;
    display: none;
}
.logo_moving {
    width: 60px;
    min-width: 40px;
    margin: 0;
    position: relative;
    .arabesque {
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        position: absolute;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 40000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 40000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 40000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        fill: #72b4a4;
    }
    .second {
        -webkit-animation-duration: 20000ms;
        -moz-animation-duration: 20000ms;
        -ms-animation-duration: 20000ms;
        fill: #72b4a4;
    }
    .third {
        -webkit-animation-duration: 9000ms;
        -moz-animation-duration: 9000ms;
        -ms-animation-duration: 9000ms;
        width: 80%;
        fill: #72b4a4;
    }
}
/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 80px;
    height: 10vh;
    width: 100%;
    position: relative;
    z-index: 9999;
    background-color: #203e2e;
    /* LOGO */
    .logo {
        display: flex;
        align-items: center;
        a{
            margin-left: 15px;
        }
        h1 {
            font-size: 20px;
            color: #72b4a4;
    
            span {
                font-size: 15px;
                color: #d1a87a;
                font-weight: 600;
            }
        }
    }
    /* MENU */
    .underLineHover{
        visibility: hidden;
        position: relative;
        margin-top: -0.5em;
    }

    nav {
        a {
            padding: 10px 15px;
            color: #72b4a4;
            display: block;
            text-decoration: none;
            font-size: 14px;
            transition: 0.15s ease-in;
            border-radius: 20px;
            width: 100%;
            text-align: center;
            .fa-angle-down{
                margin-left: 6px;
            }
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            width: auto;
            li {
                width: 100px;
                padding-top: 0.7em;
                /* MENU DEROULANTS */
                .nav-deroulant {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    overflow: none;
                    transition: 0.2s ease;
                    margin-left: 15px;
                    border:0px;
                    li{
                        width:auto;
                        background-color: #d1a87a;
                        background-color: transparent;
                        &:hover{
                            background-color: #1e100b;
                        }
                        a {
                            margin-left: 0px;
                            text-align: left;
                            width: 100%;
                            white-space: nowrap;
                            border-radius: 0px;
                            }
                        &:hover a {
                            color: #d1a87a;
                        }
                    }
                }
            }
            .nav-link_notMenu{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover a{ // HOVER DU MENU 
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                   
                }

                &:hover>img{
                    visibility: visible;
                }
            }
            .current {
                .underLineHover{
                    visibility: visible;
                }
                a {
                    color: #d1a87a;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }
}
.current2{
    color: #d1a87a !important;
        cursor: pointer;
        font-weight: bold;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(32,62,46);
    z-index: 9999;
}
/* MAIN */
.main-modif {
    height: auto;
}
/* FOOTER */
footer{
    width: 100%;
    padding: 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #203e2e;
    p{
        color: #72b4a4;
        text-align: center;
        margin-right: 50px;
    }
    .footer_titles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        width: 100%;
        a{
            color: #72b4a4;
            margin-right: 50px;
            font-size: 16px;
            text-align: center;
            &:hover{
                text-decoration: underline;
                color: white;
            }
        }
        i{
            color: #72b4a4;
            font-size: 30px;
            &:hover{
                color: white;
            }
        }
    }
}
.modif_footer {
    position: absolute;
    bottom: 0;
}
.modif_footer2 {
    height: auto;
}
/* RESPONSIVE HEADER */
/* Hamburger Menu */
.hamburger{
    display: none;
    cursor: pointer;
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}

@media(min-width:850px){
    header{
        nav{ul{li{
            .nav-deroulant {
                    display: none;
                    position: absolute;
                    overflow: none;
                    background-color: #203e2e;
                }
            &:hover ul,
            &:focus-within ul {
                display: block;
            }
        }}}
    }
}

@media(max-width:1220px){
    
    .underLineHover{
        display: none;
    }
    header{
        justify-content: center;
        .logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hamburger {
                display: block;
                position: absolute;
                left: 50px;
                top: 35%;
            }
        
            .active0 {
                .bar:nth-child(2) {
                    opacity: 0;
                }
        
                .bar:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
        
                .bar:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        
                        .nav-menu {
                            position: fixed;
                            padding-top: 60px;
                            top: -90vh;
                            left: 0;
                            right: 0;
                            flex-direction: column;
                            background-color: #203e2e;
                            width: 100%;
                            height: 100%;
                            align-items: center;
                            transition: 0.3s;
                            z-index: -999;
            
                            a {
                                border-radius: 0px;
                                margin: 0px;
            
                                &:hover {
                                    background-color: none;
                                }
                            }
            
                            .current {
                                .ligne_nav {
                                    display: none;
                                }
                               
                            }
            
                            li {
                                width: 100%;
            
                                .ligne_nav {
                                    display: none;
                                }
            
                                .nav-deroulant {
                                    position: relative;
                                    width: 100%;
                                    background-color: transparent;
                                    border-radius: 0px;
                                    background-color: #203e2e;
                                    margin-left: 0px;
            
                                    li {
                                        width: 100%;
                                        background-color: #203e2e;
            
                                        a {
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
            
                        .active {
                            top: 0;
                        }
            .descend{
                margin-top: 20px;
                transition: 0.3s ease-in;
            }
    }
}
/* Tablette */
@media(max-width:768px){
    
    .underLineHover{
        display: none;
    }

    .sticky2 {
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(37, 37, 37, 0.884);
            z-index: 9999;
        }
    header{
        .logo{
            text-align: center;
            .logo_moving{
                display: none;
            }
            
            #logo_moving2{
                display: initial;
                transform: translateX(-100%);
            }
        }
    }
    footer{
        a, p{
            width: 25%;
            margin-right: 0px;
            text-align: center;
            white-space: nowrap;
        }
    }
}
/* PHONE */

@media(max-width:530px){
    
    .underLineHover{
        display: none;
    }
    header {
            .logo {
                position: relative;
                .logo_moving {
                        width: 40px;
                        position: absolute;
                        left:-10%;
                        top:30%;
                    }
                    
                .description_logo {
                    white-space: nowrap;
                    font-size: 13px;
                }
                .tire {
                    display: none;
                }
            }

            .hamburger {
        left: 50px;
        top: 10%;
    }
        }
        footer {
            .footer_titles{
                a, p, i {
                font-size: 12px;
                }
                a, p{
                    width: 22%;
                    margin: auto;
                }
                .fIcon{
                    width: auto;
                }
            }
        }
}

/* STICKY HEADERS*/
@media(max-width:938px){
    
    .underLineHover{
        display: none;
    }
    .sticky_photos{
        position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(37, 37, 37, 0.884);
            z-index: 9999;
    }
}