/* LOGO ANIM*/

/* ANIMATIONS */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* STYLING */
.logo_moving {
    width: 60px;
    margin: 0;
    transform: translate(-50%, -50%);

    .arabesque {
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        position: absolute;
        -webkit-animation-name: spin;
        -webkit-animation-duration: 40000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 40000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 40000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        fill: #85343d;
    }

    .second {
        -webkit-animation-duration: 20000ms;
        -moz-animation-duration: 20000ms;
        -ms-animation-duration: 20000ms;
        fill: #b04c4c;
    }

    .third {
        -webkit-animation-duration: 9000ms;
        -moz-animation-duration: 9000ms;
        -ms-animation-duration: 9000ms;
        width: 80%;
        fill: #b86867;
    }
}

/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 80px;
    height: 10vh;
    width: 100%;
    position: relative;
    z-index: 9999;
    background-color: #e9d198;
    /* LOGO */
    .logo {
        display: flex;
        align-items: center;
        h1 {
            font-size: 20px;
            color: #b04c4c;
    
            span {
                font-size: 15px;
                color: #be923a;
                font-weight: 600;
            }
        }
    }

    /* MENU */
    nav {
        a {
            padding: 10px 15px;
            color: #b86867;
            display: block;
            text-decoration: none;
            font-size: 14px;
            transition: 0.15s ease-in;
            border-radius: 20px;
            width: 100%;
            text-align: center;
            .fa-angle-down{
                margin-left: 6px;
            }
        }
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            width: auto;
            li {
                float: left;
                width: 100px;

                /* MENU DEROULANTS */
                .nav-deroulant {
                    display: block;
                    overflow: none;
                    transition: 0.2s ease;
                    li{
                        width: 100%;
                        background-color: #e9d198;
                        &:hover{
                            background-color: #b86867;
                        }
                        a {
                            margin-left: 0px;
                            text-align: left;
                            width: 100%;
                            white-space: nowrap;
                            border-radius: 0px;
                            }
                        &:hover a {
                            color: #e9d198;
                        }
                    }
                }
            }
            .nav-link_notMenu{
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                &:hover a{
                    color: white;
                    cursor: pointer;
                    font-weight: bold;
                }
                .ligne_nav {
                        width: 90%;
                        position: absolute;
                        bottom: -5px;
                        display: none;
                        transition: 0.15s ease-in;
                    }
                &:hover .ligne_nav {
                    display: initial;
                }
            }
            .current {
                .ligne_nav {
                    display: initial;
                }
            
                a {
                    color: #be923a;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(37, 37, 37, 0.884);
    z-index: 9999;
}

























/* MAIN */

.main-modif {
    height: auto;
}

/* FOOTER */

footer{
    width: 100%;
    padding: 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9d198;
    p{
        color: #b86867;
        text-align: center;
        margin-right: 50px;
    }
    .footer_titles{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        width: 100%;
        a{
            color: #b86867;
            margin-right: 50px;
            font-size: 16px;
            text-align: center;
            &:hover{
                text-decoration: underline;
                color: white;
            }
        }
        i{
            color: #b86867;
            font-size: 30px;
            &:hover{
                color: white;
            }
        }
    }
}

.modif_footer {
    position: absolute;
    bottom: 0;
}

.modif_footer2 {
    height: auto;
}

/* RESPONSIVE HEADER */

/* Hamburger Menu */
.hamburger{
    display: none;
    cursor: pointer;
    .bar{
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: white;
    }
}


@media(min-width:850px){
    header{
        nav{ul{li{
            .nav-deroulant {
                    display: none;
                    position: absolute;
                    overflow: none;
                    background-color: #24252A;
                }
            &:hover ul,
            &:focus-within ul {
                display: block;
            }
        }}}
    }
}

@media(max-width:1220px){
    header{
        justify-content: center;
        .logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .hamburger {
                display: block;
                position: absolute;
                left: 50px;
                top: 30px;
            }
        
            .active0 {
                .bar:nth-child(2) {
                    opacity: 0;
                }
        
                .bar:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
        
                .bar:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        
            .nav-menu {
                position: fixed;
                padding-top: 60px;
                left: -100%;
                top: 0;
                flex-direction: column;
                background-color: hsla(230, 8%, 15%, 0.7);
                width: 50%;
                height: 100%;
                align-items: center;
                transition: 0.3s;
                a{
                    border-radius: 0px;
                    margin: 0px;
                    &:hover{
                        background-color: none;
                    }
                }
                li {
                    width: 100%;
                    ul{
                        position: relative;
                        width: 100%;
                        background-color: transparent;
                        border-radius: 0px;
                        background-color: #24252A;
                    }
                }
            }
            .active{
                left: 0;
            }
            .descend{
                margin-top: 20px;
                transition: 0.3s ease-in;
            }
    }
}

/* Tablette */
@media(max-width:768px){
    .sticky2 {
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(37, 37, 37, 0.884);
            z-index: 9999;
        }
    header{
        .logo{
            text-align: center;
        }
    }
    footer{
        a, p{
            width: 25%;
            margin-right: 0px;
            text-align: center;
            white-space: nowrap;
        }
    }
}

/* PHONE */

@media(max-width:530px){
    header {
            .logo {
                .description_logo {
                    white-space: nowrap;
                    font-size: 13px;
                }
                .tire {
                    display: none;
                }
            }
            .hamburger{
                left: 20px;
            }
        }


        footer {
            .footer_titles{
                a, p, i {
                font-size: 12px;
                }
                a, p{
                    width: 22%;
                    margin: auto;
                }
                .fIcon{
                    width: auto;
                }
            }
        }
}

/* STICKY HEADERS*/

@media(max-width:938px){
    .sticky_photos{
        position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(37, 37, 37, 0.884);
            z-index: 9999;
    }
}