/* PAGE PHOTO*/
.gallerie-photo{
    padding: 20px 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    img{
        height: 100%;
        transition: 0.2s ease;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}


/* PAGE VIDEOS*/

.gallerie-videos {
    padding: 20px 80px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    .gallerie_videoYtb{
        background-color: rgba(211, 211, 211, 0.505);
        height: 40vh;
        iframe{
            height: 100%;
            width: 100%;
        }
    }
}

/* PAGE CREDITS*/

.credits_galerie {
    padding: 20px 80px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 40px;
    padding-bottom: 40px;

    div{
        transition: 0.2s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    img{
        height: 90%;
    }

    p{
        color: grey;
        font-style: italic;
        height: 10%;
        padding: 0px 15px;
        text-align: center;
        font-size: 12px;
    }

    .i1{
        grid-row-start: 1;
        grid-row-end: span 2;
        img {
                height: 95%;
            }
        
            p {
                height: 5%;
            }
    }

    .i8, .i9, .i10, .i11{
        grid-row-start: 3;
        grid-row-end: span 2;
        img{
            height: 95%;
        }
        p{
            height: 5%;
        }
    }

    .i12{
        grid-column-start: 1;
        grid-column-end: span 2;
    }
    
    .i13{
        grid-column-start: 3;
        grid-column-end: span 2;
    }
}

/* MEDIA QUERIES */


/*DESKTOP AND BIGGER*/
@media(min-width:939px)
{
    .versionV{
        display: none;
    }

    .versionH{
        display: initial;
    }
}


@media(min-width:769px) and (max-width: 938px){
    .gallerie-photo{
        height: 80vh;
    }
    
    .versionV{
        display: none;
    }

    .versionH{
        display: initial;
    }
}

/* Tablette */
@media(max-width:768px) {
    /* VIDEO */
    .gallerie-videos{
        grid-template-columns: auto;
        padding: 20px;
    }

    .versionV{
        display: initial;
    }

    .versionH{
        display: none;
    }

    /* PHOTOS */
    .gallerie-photo{
        grid-template-columns: auto auto;
        grid-gap: 20px;
        padding: 20px;
        .img4{
            grid-column-start: 1;
            grid-column-end: span 2;
            grid-row-start: 5;
        }
    }

    /* CREDITS */
        .credits_galerie {
            padding: 20px 30px;
            display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                div{
                    width: 80%;
                }
        }
}

/* PHONE */

@media(max-width:600px) {
    .credits_galerie {
        padding: 20px;
        div{
            width: 100%;
        }
}}


@media(max-width:320px){
    .body_photo{
        .sticky {
                position: relative;
                z-index: 1;
            }
    }
}