/* PAGE PHOTO*/
.gallerie-photo{
    padding: 20px 80px;
    display: grid;
    grid-template-columns: auto auto auto;
    img{
        height: 100%;
        transition: 0.2s ease;
        &:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}




/* PAGE VIDEOS*/

.gallerie-videos {
    padding: 20px 80px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    .gallerie_videoYtb{
        background-color: rgba(211, 211, 211, 0.505);
        height: 40vh;
        iframe{
            height: 100%;
            width: 100%;
        }
    }
}

/* PAGE CREDITS*/

.credits_galerie {
    padding: 20px 80px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    margin-bottom: -30px;

    div{
        transition: 0.2s ease;
        &:hover{
            transform: scale(1.1);
        }
    }
    img{
        height: 90%;
    }

    p{
        color: grey;
        font-style: italic;
        height: 10%;
        padding: 0px 15px;
        text-align: center;
        font-size: 13px;
    }

    .i1{
        grid-row-start: 1;
        grid-row-end: span 2;
        img {
                height: 95%;
            }
        
            p {
                height: 5%;
            }
    }

    .i8, .i9, .i10{
        grid-row-start: 3;
        grid-row-end: span 2;
        img{
            height: 95%;
        }
        p{
            height: 5%;
        }
    }
}

/* MEDIA QUERIES */
/* Tablette */
@media(max-width:768px) {}

/* PHONE */

@media(max-width:530px) {}