.myGallery{
    display: flex;
}

.videosGallery
{
    width: 80vw;
    height: 80vh;
}

.videosMenu
{
    width: 20vw;
    height: 80vh;
}
.videoItem
{
    display: none;
    width: 100%;
    height: 100%;
}

.videoItem>iframe{
    width: 100%;
    height: 100%;
}

.videoBtn {
    width: 20vw;
    background-color: black; /* Green */
    border: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover{
        text-decoration: underline;
        background-color: #72b4a4;
        cursor: pointer;
    }
    span{
        font-style: italic;
    }
  }

.currentButton
{
    background-color: #3f7f6d;
}
  
.currentVideo
{
      display: inherit;
}


/* RESPONSIVE */



@media(max-width:768px){
    .myGallery{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;
        .videosGallery, .videosMenu{
            width: 95%;
        }
        .videosGallery{
        }
        .videosMenu{
            height: auto;
            display: flex;
            justify-content: space-between;
            .videoBtn{
                width: 33%;
                padding: 15px 10px;
                span{
                    margin-top: 5px;
                }
            }
        }
    }
}

@media(max-width:425px){
    .myGallery {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            margin-top: 20px;
    
            .videosGallery{
            }}
}